.wrapper, .header-container, .header-bottom {
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  height: 100%;
}

.content {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1200px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  margin: 30px 0;
  flex-grow: 1;
}

header {
  min-height: 110px;
}
header .header-container {
  position: relative;
}

.header-top {
  z-index: 9999;
  background: RGB(252, 252, 252);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-top .container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.header-top .container .mobile-burger, .header-top .container .mobile-catalog {
  display: none;
}
.header-top .container .mobile-burger {
  width: 35px;
  height: 35px;
  background: RGB(26, 88, 50);
  background-image: url(../images/common/burger.svg);
  background-size: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.header-top .container .mobile-catalog {
  left: -105%;
  z-index: 9;
  position: fixed;
  top: 0;
  height: 100%;
  width: 400px;
  background: RGB(252, 252, 252);
  transition: 0.4s;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper {
  width: 100%;
  height: 100%;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder, .header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile_catalog {
  display: flex;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder {
  height: 72px;
  width: calc(100% + 1px);
  background-color: RGB(26, 88, 50);
  justify-content: center;
  align-items: center;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder .nav-mobile_text-logo {
  height: 35px;
  margin: 0 15px 1px 65px;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder .nav-mobile_text-logo svg {
  height: 35px;
  width: 100%;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder .nav-mobile_text-logo svg path {
  fill: RGB(252, 252, 252);
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile_catalog {
  box-sizing: border-box;
  flex-direction: column;
  gap: 20px;
  height: calc(100% - 72px);
  overflow-y: scroll;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile_catalog .nav-catalog-element {
  padding: 5px 5px;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile_catalog .nav-catalog-element .nav-catalog-list__title {
  font-size: 30px;
}
.header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile_catalog .nav-catalog-element .nav-catalog__item {
  font-size: 24px;
  margin-left: 10px;
}
.header-top .container .text-logo {
  font-size: 0;
  display: block;
}
.header-top .container .basket {
  order: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: 50px;
}
.header-top .container .basket a svg {
  position: relative;
  fill: RGB(120, 120, 120);
  height: 50px;
  width: 100%;
}
.header-top .container .basket:hover a svg {
  fill: RGB(26, 88, 50);
}
.header-top .container .header-search {
  flex-grow: 1;
  padding: 0 35px;
  position: relative;
  height: 50px;
  width: auto;
}
.header-top .container .header-search .header-search__form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-top .container .header-search .header-search__form .header-search__input {
  height: 48px;
  padding: 0 60px 0 20px;
  border: 1px solid RGB(120, 120, 120);
  border-radius: 20px;
  width: 100%;
  outline: 0;
  line-height: 20px;
  font-weight: 400;
  font-size: 20px;
  color: RGB(120, 120, 120);
}
.header-top .container .header-search .header-search__form .header-search__input:focus {
  color: RGB(62, 62, 62);
  font-weight: 500;
}

.header-search__submit {
  right: 12px;
  left: auto;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: 0 !important;
  background: 0 0;
  border-radius: 4px;
}
.header-search__submit .header-search__submit__icon {
  width: 28px !important;
  height: 28px !important;
  display: block;
  flex-shrink: 0;
  fill: RGB(26, 88, 50);
}

.header-search__submit:hover {
  background: RGB(26, 88, 50);
}
.header-search__submit:hover .header-search__submit__icon {
  fill: RGB(252, 252, 252);
}

.header-bottom {
  margin-top: 70px;
  height: 50px;
  background: RGB(26, 88, 50);
  position: relative;
}
.header-bottom .header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 100%;
}
.header-bottom .header-bottom__container .header-nav, .header-bottom .header-bottom__container .nav__item_sale {
  display: flex;
}
.header-bottom .header-bottom__container .header-nav {
  height: 100%;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.header-bottom .header-bottom__container .header-nav .nav__item_catalog-toggle:before, .header-bottom .header-bottom__container .header-nav .nav__item_catalog-toggle.clicked:before {
  background-size: cover;
}
.header-bottom .header-bottom__container .header-nav .nav__item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none !important;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  line-height: 20px;
}
.header-bottom .header-bottom__container .header-nav .nav__item_catalog-toggle:before {
  width: 30px;
  height: 25px;
  margin-right: 30px;
  content: "";
  background-image: url(../images/common/burger.svg);
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.header-bottom .header-bottom__container .header-nav .nav__item_catalog-toggle.clicked:before {
  background-image: url(../images/common/cross.svg);
  height: 30px;
}
.header-bottom .header-bottom__container .header-nav .nav__item:hover {
  background: RGB(56, 122, 43);
}
.header-bottom .header-bottom__container .header-nav .nav__item_catalog-toggle.clicked {
  background: RGB(229, 232, 10);
}
.header-bottom .header-bottom__container .nav__item_sale {
  font-weight: 500;
  font-size: 26px;
  padding: 0 40px;
  height: 50px;
  cursor: pointer;
  background: RGB(229, 232, 10);
  color: RGB(26, 88, 50);
  align-items: center;
}
.header-bottom .header-bottom__container .nav__item_sale:hover {
  background: RGB(56, 122, 43);
  color: RGB(252, 252, 252);
}
.header-bottom .nav-catalog {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  padding: 50px 0 20px;
  box-shadow: 0 15px 40px rgba(25, 33, 79, 0.1);
  background: RGB(252, 252, 252);
}
.header-bottom .nav-catalog.clicked {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-12 {
  max-width: 100%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.nav-catalog-list {
  padding: 5px 0 0 49px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 50px;
}

.nav-catalog-list__title {
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none !important;
  color: RGB(26, 88, 50);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.nav-catalog-brends_title {
  text-align: center;
}

.nav-catalog-list__title__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  fill: RGB(26, 88, 50);
}

.nav-catalog__item {
  width: 100%;
  text-decoration: none !important;
  color: RGB(120, 120, 120);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.nav-catalog__item:hover {
  color: RGB(26, 88, 50);
}

.nav-catalog__item:not(:last-child) {
  margin-bottom: 10px;
}

.nav-catalog-item-link {
  width: 100%;
}

.lazy-img-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.nav-catalog-item-img-wrap {
  width: 100%;
  min-height: 40px;
}

.nav-catalog-item-img {
  max-width: 100%;
  margin: 5px auto;
}

.nav-catalog-item-img:hover {
  border: 3px solid RGB(26, 88, 50);
  border-radius: 20px;
}

footer {
  min-height: -moz-min-content;
  min-height: min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  background: RGB(56, 122, 43);
}

.foot-container {
  padding: 40px 0 0;
}

TMAIN, TNAME, TAGLINE, CONTACT, EMAIL, MOBILE, CONTACT-ICON, AFTOR, BUERS, .PUNKT, COMPANY {
  display: block;
}

FACEBOOK, INSTAGRAMM, TELEGRAM, VK {
  display: inline-block;
}

TAGLINE, CONTACT, .PUNKT {
  color: RGB(210, 224, 215);
}

TNAME {
  font-size: 30px;
  font-weight: 700;
  color: RGB(252, 252, 252);
  margin-bottom: 7px;
}

TSFOOTER {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
TSFOOTER TMAIN {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
TSFOOTER TMAIN TAGLINE, TSFOOTER TMAIN CONTACT, TSFOOTER TMAIN CONTACT-ICON, TSFOOTER TMAIN AFTOR {
  margin: 11px 0;
}
TSFOOTER TMAIN TAGLINE, TSFOOTER TMAIN CONTACT, TSFOOTER TMAIN AFTOR {
  font-size: 20px;
  font-weight: 400;
}
TSFOOTER TMAIN AFTOR {
  color: RGB(155, 192, 169);
}
TSFOOTER TMAIN CONTACT EMAIL, TSFOOTER TMAIN CONTACT MOBILE {
  margin: 4px 0;
}
TSFOOTER BUYERS, TSFOOTER COMPANY {
  flex-grow: 1;
}
TSFOOTER BUYERS TNAME, TSFOOTER COMPANY TNAME {
  margin-bottom: 20px;
}
TSFOOTER BUYERS .PUNKT, TSFOOTER COMPANY .PUNKT {
  margin: 5px 0;
  font-size: 24px;
  font-weight: 500;
}
TSFOOTER BUYERS .PUNKT:hover, TSFOOTER COMPANY .PUNKT:hover {
  text-decoration: underline !important;
}

@media (min-width: 1001px) {
  .header-top .container {
    max-width: 1200px;
  }
}
@media (max-width: 1000px) {
  header .header-container {
    position: fixed;
    z-index: 1010;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  header .header-container .header-top {
    background: RGB(26, 88, 50);
    height: auto;
    padding: 13px 0;
  }
  header .header-container .header-top .container {
    max-width: 960px;
    height: auto;
  }
  header .header-container .header-top .container .mobile-burger, header .header-container .header-top .container .mobile-catalog {
    display: block;
  }
  header .header-container .header-top .container .mobile-burger {
    z-index: 99;
  }
  header .header-container .header-top .container .nav__item_mobile_catalog-toggle:hover {
    cursor: pointer;
  }
  header .header-container .header-top .container .mobile-burger.clicked {
    background: RGB(26, 88, 50);
    background-image: url(../images/common/cross.svg);
    background-size: cover;
  }
  header .header-container .header-top .container .text-logo {
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  header .header-container .header-top .container .text-logo a svg {
    height: 45px;
    width: auto;
  }
  header .header-container .header-top .container .text-logo a svg path {
    fill: RGB(252, 252, 252);
  }
  header .header-container .header-top .container .basket {
    order: 0;
  }
  header .header-container .header-top .container .basket a svg {
    height: 35px;
  }
  header .header-container .header-top .container .basket a svg path {
    fill: RGB(252, 252, 252);
  }
  header .header-container .header-top .container .header-search {
    margin-top: 10px;
    padding: 0 0;
    min-width: 100%;
  }
  header .header-container .header-top .container #header-search.hide {
    display: none;
  }
  header .header-container .header-bottom {
    position: relative;
    display: none;
  }
  main {
    margin: 15px 0;
  }
  footer .foot-container TSFOOTER TMAIN {
    flex: 1 1 100%;
  }
  footer .foot-container TSFOOTER BUYERS, footer .foot-container TSFOOTER COMPANY {
    flex: 1 1 40%;
  }
}
@media (max-width: 768px) {
  header .header-container .header-top .container .mobile-burger {
    height: 20px;
    width: 20px;
  }
  header .header-container .header-top .container .text-logo a svg {
    height: 20px;
  }
  header .header-container .header-top .container .basket a svg {
    height: 20px;
  }
  header .header-container .header-top .container .mobile-catalog {
    max-width: 100%;
  }
  header .header-container .header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder {
    height: 50px;
  }
  header .header-container .header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder .nav-mobile_text-logo {
    height: 20px;
    margin-bottom: 1.5px;
  }
  header .header-container .header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile-heder .nav-mobile_text-logo svg {
    height: 20px;
  }
  header .header-container .header-top .container .mobile-catalog .nav-mobile-wrapper .nav-mobile_catalog {
    height: calc(100% - 50px);
  }
  footer .content {
    padding: 0 5px;
  }
}