main .content {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
main .content .banner:hover {
  border: 3px solid RGB(26, 88, 50);
}
main .content .advantages .advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main .content .advantages .advantages-list .advantages-element {
  flex: 1 1 25%;
  max-width: 33%;
  display: flex;
  align-items: flex-start;
  padding: 0 5px;
  margin: 0 0 20px;
}
main .content .advantages .advantages-list .advantages-element .advantages__icon {
  margin-right: 5px;
}
main .content .advantages .advantages-list .advantages-element .advantages__icon img {
  max-width: none;
}
main .content .advantages .advantages-list .advantages-element .advantages__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .content .advantages .advantages-list .advantages-element .advantages__info .advantages__title, main .content .advantages .advantages-list .advantages-element .advantages__info .advantages-element__info {
  margin-bottom: 5px;
  letter-spacing: 0.06em;
}
main .content .advantages .advantages-list .advantages-element .advantages__info .advantages__title {
  font-weight: 900;
  font-size: 30px;
  color: RGB(26, 88, 50);
}
main .content .advantages .advantages-list .advantages-element .advantages__info .advantages-element__info {
  font-weight: 500;
  font-size: 20px;
  color: RGB(53, 53, 53);
}
main .content .hot-prices .hot-prices__title {
  font-weight: 900;
  font-size: 36px;
  color: RGB(26, 88, 50);
  text-align: center;
  margin-bottom: 30px;
}
main .content .hot-prices .hot-prices__container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10px;
  margin: 0 -20px;
}
main .content .hot-prices .hot-prices__container .hot-prices__element {
  flex-shrink: 0;
  position: relative;
  border: 3px solid RGB(26, 88, 50);
  border-radius: 20px;
  width: 380px;
  height: 380px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__img, main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__info {
  display: flex;
}
main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__img {
  width: 360px;
  height: 280px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__img img {
  height: 310px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__info {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__info .hot-prices__name, main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__info .hot-prices__price {
  font-weight: 700;
  letter-spacing: 0.04em;
  color: RGB(26, 88, 50);
  padding: 10px 10px;
}
main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__info .hot-prices__name {
  font-size: 24px;
}
main .content .hot-prices .hot-prices__container .hot-prices__element .hot-prices__info .hot-prices__price {
  font-size: 36px;
}
main .content .hot-prices .hot-prices__container .hot-prices__element:hover {
  border-width: 4px;
}

@media (max-width: 1000px) {
  main .content .banner {
    margin: 0 -20px;
    margin-top: -9px;
  }
  main .content .advantages {
    margin: 0 -15px;
  }
  main .content .advantages .advantages-list .advantages-element {
    flex: 1 1 50%;
    max-width: 100%;
  }
  main .content .advantages .advantages-list .advantages-element .advantages__info .advantages__title {
    font-size: 25px;
  }
  main .content .advantages .advantages-list .advantages-element .advantages__info .advantages-element__info {
    font-size: 20px;
  }
  .hot-prices__name, .hot-prices__price {
    text-align: center;
  }
}
@media (max-width: 768px) {
  main .content .banner {
    margin-top: -32px;
  }
  main .content .advantages .advantages-list .advantages-element {
    flex: 1 1 100%;
    max-width: 100%;
  }
  main .content .advantages .advantages-list .advantages-element .advantages__icon {
    min-width: 20%;
  }
  main .content .advantages .advantages-list .advantages-element .advantages__icon img {
    width: 100%;
    height: 100%;
  }
}