$Twhite: RGB(252, 252, 252);    // fcfcfc
$Tgrey: RGB(120,120,120);       // 787878
$Tyellow: RGB(229, 232, 10);    // E5E80A
$Tblack: RGB(53, 53, 53);       // 353535
$Tgreen: (
  0: RGB(26, 88, 50),    // 1a5832
  1: RGB(56, 122, 43),   // 387a2b
  2: RGB(86, 157, 36),   // 569d24
  3: RGB(117, 192, 29)   // 75c01d
);

main {
    .content {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        .banner:hover {
            border: 3px solid map-get($map: $Tgreen, $key: 0);
        }
        .advantages__main-title {
            text-align: center;
            font-weight: 900;
            font-size: 48px;
            color: map-get($map: $Tgreen, $key: 0);
            margin: 20px 0;
        }
        .advantages {
            .advantages-list {
                display: flex;
                flex-direction: column;
                .advantages-element {
                    display: flex;
                    align-items: flex-start;
                    padding: 0 5px;
                    margin: 0 0 20px;
                    .advantages__icon {
                        flex: 0 0 15%;
                        max-width: 15%;
                        img {
                            max-width: none;
                            height: 140px;
                        }
                    }
                    .advantages__info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-left: 30px;
                        .advantages__title, .advantages-element__info {
                            margin-bottom: 5px;
                            letter-spacing: 0.06em;
                        }
                        .advantages__title {
                            font-weight: 900;
                            font-size: 36px;
                            color: map-get($map: $Tgreen, $key: 0);
                        }
                        .advantages-element__info {
                            font-weight: 900;
                            font-size: 26px;
                            color: $Tblack;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    main {
        .content {
            .banner {
                margin: 0px -20px;
                margin-top: -9px;
            }
            .advantages__main-title {
                display: none;
            }
            .advantages {
                margin: 0px -20px;
                .advantages-list {
                    .advantages-element {
                        .advantages__icon {
                            margin-top: 26px;
                            flex: 0 0 20%;
                            max-width: 20%;
                            img {
                                height: 148px;
                            }
                        }
                        .advantages__info {
                            margin-left: 50px;
                            .advantages__title {
                                font-size: 28px;
                            }
                            .advantages-element__info {
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        .content {
            .banner {
                margin-top: -32px;
            }
            .advantages__main-title {
                display: none;
            }
            .advantages {
                .advantages-list {
                    .advantages-element {
                        .advantages__icon {
                            margin-top: 15px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .advantages__info {
                            margin-left: 10px;
                            .advantages__title, .advantages-element__info {
                                letter-spacing: 0;
                            }
                            .advantages__title {
                                font-size: 20px;
                            }
                            .advantages-element__info {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}