$Twhite: RGB(252, 252, 252);    // fcfcfc
$Tgrey: RGB(120,120,120);       // 787878
$Tyellow: RGB(229, 232, 10);    // E5E80A
$Tblack: RGB(53, 53, 53);       // 353535
$Tgreen: (
  0: RGB(26, 88, 50),    // 1a5832
  1: RGB(56, 122, 43),   // 387a2b
  2: RGB(86, 157, 36),   // 569d24
  3: RGB(117, 192, 29)   // 75c01d
);

.wrapper, .header-container, .header-bottom {
    width: 100%;
}
// ОБЩИЕ СТИЛИ
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
// СТИЛИ СТРАНИЦЫ
html, body {
    height: 100%;
    width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    height: 100%;
}
.content {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
main {
    margin: 30px 0;
    flex-grow: 1;
}
// СТИЛИ ХЕДЕРА
header {
    min-height: 110px;
    .header-container {
        position: relative;
    }
}
.header-top {
    z-index: 9999;
    background: $Twhite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .container {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        .mobile-burger, .mobile-catalog {
            display: none;
        }
        .mobile-burger {
            width: 35px;
            height: 35px;
            background: map-get($map: $Tgreen, $key: 0);
            background-image: url(../images/common/burger.svg);
            background-size: 100%;
            background-repeat: no-repeat !important;
            background-position: center !important;
        }
        .mobile-catalog {
            left: -105%;
            z-index: 9;
            position: fixed;
            top: 0;
            height: 100%;
            width: 400px;
            background: $Twhite;
            transition: 0.4s;
            .nav-mobile-wrapper {
                width: 100%;
                height: 100%;
                .nav-mobile-heder, .nav-mobile_catalog {
                    display: flex;
                }
                .nav-mobile-heder {
                    height: 72px;
                    width: calc(100% + 1px);
                    background-color: map-get($map: $Tgreen, $key: 0);
                    justify-content: center;
                    align-items: center;
                    .nav-mobile_text-logo {
                        height: 35px;
                        margin: 0 15px 1px 65px;
                        svg {
                            height: 35px;
                            width: 100%;
                            path {
                                fill: $Twhite;
                            }
                        }
                    }
                }
                .nav-mobile_catalog {
                    box-sizing: border-box;
                    flex-direction: column;
                    gap: 20px;
                    height: calc(100% - 72px);
                    overflow-y: scroll;
                    .nav-catalog-element {
                        padding: 5px 5px;
                        .nav-catalog-list__title {
                            font-size: 30px;
                        }
                        .nav-catalog__item {
                            font-size: 24px;
                            margin-left: 10px
                        }
                    }
                }
            }
        }
        .text-logo {
            font-size: 0;
            display: block;
        }
        .basket {
            order: 10;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            max-height: 50px;
            a {
                svg {
                    position: relative;
                    fill: $Tgrey;
                    height: 50px;
                    width: 100%;
                }
            }
        }
        .basket:hover {
            a {
                svg {
                    fill: map-get($map: $Tgreen, $key: 0);
                }
            }
        }
        .header-search {
            flex-grow: 1;
            padding: 0 35px;
            position: relative;
            height: 50px;
            width: auto;
            .header-search__form {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                .header-search__input {
                    height: 48px;
                    padding: 0 60px 0 20px;
                    border: 1px solid $Tgrey;
                    border-radius: 20px;
                    width: 100%;
                    outline: 0;
                    line-height: 20px;
                    font-weight: 400;
                    font-size: 20px;
                    color: $Tgrey;
                }
                .header-search__input:focus {
                    color: RGB(62, 62, 62);
                    font-weight: 500;
                }
            }
        }
    }
}
.header-search__submit {
    right: 12px;
    left: auto;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: 0 !important;
    background: 0 0;
    border-radius: 4px;
    .header-search__submit__icon {
        width: 28px !important;
        height: 28px !important;
        display: block;
        flex-shrink: 0;
        fill: map-get($map: $Tgreen, $key: 0);
    }
}
.header-search__submit:hover {
    background:map-get($map: $Tgreen, $key: 0);
    .header-search__submit__icon {
        fill: $Twhite;
    }
}

.header-bottom {
    margin-top: 70px;
    height: 50px;
    background: map-get($Tgreen, 0);
    position: relative;
    .header-bottom__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        height: 100%;
        .header-nav, .nav__item_sale {
            display: flex;
        }
        .header-nav {
            height: 100%;
            align-items: center;
            flex-wrap: nowrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            .nav__item_catalog-toggle:before, .nav__item_catalog-toggle.clicked:before {
                background-size: cover;
            }
            .nav__item {
                display: flex;
                align-items: center;
                height: 50px;
                padding: 0 30px;
                cursor: pointer;
                user-select: none;
                text-decoration: none !important;
                color: #fff;
                font-size: 26px;
                font-weight: 500;
                line-height: 20px;
            }
            .nav__item_catalog-toggle:before {
                width: 30px;
                height: 25px;
                margin-right: 30px;
                content: "";
                background-image: url(../images/common/burger.svg);
                background-repeat: no-repeat !important;
                background-position: center !important;
            }
            .nav__item_catalog-toggle.clicked:before {
                background-image: url(../images/common/cross.svg);
                height: 30px;
            }
            .nav__item:hover {
                background: map-get($map: $Tgreen, $key: 1);
            }
            .nav__item_catalog-toggle.clicked {
                background: $Tyellow;
            }
        }
        .nav__item_sale {
            font-weight: 500;
            font-size: 26px;
            padding: 0 40px;
            height: 50px;
            cursor: pointer;
            background: $Tyellow;
            color: map-get($map: $Tgreen, $key: 0);
            align-items: center;
        }
        .nav__item_sale:hover {
            background: map-get($map: $Tgreen, $key: 1);
            color: $Twhite;
        }
    }
    .nav-catalog {
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        padding: 50px 0 20px;
        box-shadow: 0 15px 40px rgba(25, 33, 79, .1);
        background: $Twhite;
    }
    .nav-catalog.clicked {
        display: block;
    }
}
    // СКРЫТОЕ МЕНЮ
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-12 {
    max-width: 100%;
}
.col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.nav-catalog-list {
    padding: 5px 0 0 49px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}
.nav-catalog-list__title {
    width: 100%;
    margin-bottom: 10px;
    text-decoration: none !important;
    color: map-get($map: $Tgreen, $key: 0);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.nav-catalog-brends_title {
    text-align: center;
}
.nav-catalog-list__title__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    fill: map-get($map: $Tgreen, $key: 0);
}
.nav-catalog__item {
    width: 100%;
    text-decoration: none !important;
    color: $Tgrey;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.nav-catalog__item:hover {
    color: map-get($map: $Tgreen, $key: 0);
}
.nav-catalog__item:not(:last-child) {
    margin-bottom: 10px;
}
.nav-catalog-item-link {
    width: 100%;
}
.lazy-img-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}
.nav-catalog-item-img-wrap {
    width: 100%;
    min-height: 40px;
}
.nav-catalog-item-img {
    max-width: 100%;
    margin: 5px auto;
}
.nav-catalog-item-img:hover {
    border: 3px solid map-get($map: $Tgreen, $key: 0);
    border-radius: 20px;
}
// ФУТЕР
footer {
    min-height: min-content;
    min-width: min-content;
    background: map-get($map: $Tgreen, $key: 1);
}
.foot-container {
    padding: 40px 0 0;
}
TMAIN, TNAME, TAGLINE, CONTACT, EMAIL, MOBILE, CONTACT-ICON,  AFTOR, BUERS, .PUNKT, COMPANY {
    display:block;
}
FACEBOOK, INSTAGRAMM, TELEGRAM, VK {
    display: inline-block;
}
TAGLINE, CONTACT, .PUNKT {
    color: RGB(210, 224, 215);
}
TNAME {
    font-size: 30px;
    font-weight: 700;
    color: $Twhite;
    margin-bottom: 7px;
}
TSFOOTER {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    TMAIN {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        TAGLINE, CONTACT, CONTACT-ICON, AFTOR {
            margin: 11px 0;
        }
        TAGLINE, CONTACT, AFTOR {
            font-size: 20px;
            font-weight: 400;
        }
        AFTOR {
            color: RGB(155, 192, 169);
        }
        CONTACT {
            EMAIL, MOBILE {
                margin: 4px 0;
            }
        }
    }
    BUYERS, COMPANY {
        flex-grow: 1;
        TNAME {
            margin-bottom: 20px;
        }
        .PUNKT {
            margin: 5px 0;
            font-size: 24px;
            font-weight: 500;
        }
        .PUNKT:hover {
            text-decoration: underline !important;
        }
    }
}

@media (min-width: 1001px) {
    .header-top .container {
        max-width: 1200px;
    }
}
@media (max-width: 1000px) {
    header {
        .header-container {
            position: fixed;
            z-index: 1010;
            width: 100%;
            box-shadow: 0 0 8px rgba(0, 0, 0, .1);
            .header-top {
                background: map-get($map: $Tgreen, $key: 0);
                height: auto;
                padding: 13px 0;
                .container {
                    max-width: 960px;
                    height: auto;
                    .mobile-burger, .mobile-catalog {
                        display: block;
                    }
                    .mobile-burger {
                        z-index: 99;
                    }
                    .nav__item_mobile_catalog-toggle:hover {
                        cursor: pointer;
                    }
                    .mobile-burger.clicked {
                        background: map-get($map: $Tgreen, $key: 0);
                        background-image: url(../images/common/cross.svg);
                        background-size: cover;
                    }
                    .text-logo {
                        margin: 0;
                        display: flex;
                        flex-grow: 1;
                        justify-content: center;
                        a svg {
                            height: 45px;
                            width: auto;
                            path {
                                fill: $Twhite;
                            }
                        }
                    }
                    .basket {
                        order: 0;
                        a {
                            svg {
                                height: 35px;
                                path {
                                    fill: $Twhite;
                                }
                            }
                        }
                    }
                    .header-search {
                        margin-top: 10px;
                        padding: 0 0;
                        min-width: 100%;
                    }
                    #header-search.hide {
                        display: none;
                    }
                }
            }
            .header-bottom {
                position: relative;
                display: none;
            }
        }
    }
    main {
        margin: 15px 0;
    }
    footer {
        .foot-container {
            TSFOOTER {
                TMAIN {
                    flex: 1 1 100%;
                }
                BUYERS, COMPANY {
                    flex: 1 1 40%;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        .header-container {
            .header-top {
                .container {
                    .mobile-burger {
                        height: 20px;
                        width: 20px;
                    }
                    .text-logo {
                        a svg {
                            height: 20px;
                        }
                    }
                    .basket {
                        a {
                            svg {
                                height: 20px;
                            }
                        }
                    }
                    .mobile-catalog {
                        max-width: 100%;
                        .nav-mobile-wrapper {
                            .nav-mobile-heder {
                                height: 50px;
                                .nav-mobile_text-logo {
                                    height: 20px;
                                    margin-bottom: 1.5px;
                                    svg {
                                        height: 20px;
                                    }
                                }
                            }
                            .nav-mobile_catalog {
                                height: calc(100% - 50px);
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .content {
            padding: 0 5px;
        }
    }
}